/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   

body {
    background-color: white; /* sets bckg colour */
}


header .container {
    position: relative;
}
header .container h1 {

}

h1{
   position: absolute;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   color: white;
   font-style: italic;
   font-size: 35px;
   margin-top: 30px;
   margin-left: 25px;
   text-decoration: line-through;
   
 }
 .container{
   position: relative;
   width: 1024px;
   margin: 0 auto;
   background-color: #ADC6DD;
 }
 /* / DESKTOP STYLES HERE /
    / NAVIGATION SECTION / */
 nav a:link,
nav a:visited {
    text-align: center;
    display:  block;
    color: white;
    font-size: 21px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 180px;
    width: 50%;
}
.skip-links a:focus{
    top: 0;
  } 
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: white;
    color:white;
    padding: 1.5em 1em;
    font-weight: bold;
    z-index: -1;
  }
 
  ul {
      list-style-type: none;
      margin: 0;
      padding-top: 50px;
      overflow: hidden;
      background-color: transparent;
    }
    
    li {
      float: left;
      text-align: center;
    }
    a:hover{
        opacity: 0.7;
    } 
    a:focus{
        outline: 4px solid black;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      
    }
    
    li a:hover {
        background-color: black;
        border: 2px black;
        border-style: solid;
        border-radius: 20%;
      }

header form input {
  flex-grow: 1;
  height: 35px;
  padding-right: 20px;
  margin-left: 800px;
  margin-top: 20px;
 
}
h2{
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
font-weight: bold;
padding-left: 28px;
padding-top: 80px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    font-weight: bold;
    padding-left: 28px;
    padding-top: 80px;
    display: inline-block;
    
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    font-weight: bold;
    padding-left: 28px;
    padding-top: 10px;
    
    
}
.responsive {
    width: 100%;
    max-width: 500px;
    margin-left: 420px;
    margin-top: -240px;
    
}

.paragraph1{
    font-family: Arial, Helvetica, sans-serif;
    bottom: 33px;
    color: grey;
    font-size: 43px;
    line-height: 100px;
    position: relative;
    margin-right: 7px;
    margin-left: 10px;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.paragraph2{
    font-family: Arial, Helvetica, sans-serif;
    bottom: 33px;
    color: grey;
    font-size: 34px;
    line-height: 60px;
    position: relative;
    margin-right: 7px;
    margin-left: 10px;
    margin-top: 100px;
    padding-left: 85px;
    padding-right: 85px;
    text-align: left;
    margin-bottom: -100px;
}
footer{
    padding-top: 200px;
}
/* input buttons for social media set */
.fa {
    
    text-decoration: none;
    margin: 5px 5px;
    font-size: 30px;
    width: 100%;
    height: 50px;
    padding-left: 0px;
    text-align: center;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 2s;
    
}
  
  .fa:hover {
      opacity: 0.7;
      transition-duration: .3s;
  }
  
  
      .fa-facebook {
        padding: 11px 20px;
        background: silver;
        color: white;
        border-radius: 0%;
        text-align: center;
        display: block;
        
        
      }
      
      .fa-twitter {
        padding: 11px 20px;
        background: silver;
        color: white;
        text-align: center;
        border-radius: 0%;
        display: block;
        font-size: 40px;
        
      }
      .fa-instagram {
        padding: 11px 20px;
        background: silver;
        color: white;
        text-align: center;
        border-radius: 0%;
        display: block;
      }
      .footercontainer{
        margin-bottom: 100px;
      }
      .copyright{
        text-align: center;
        margin-top: 150px;
        color: silver;
        font-family: Arial, Helvetica, sans-serif;
        
      }
      button{
        background-color: #222222;
        border-style: solid ;
        border-width: 1px;
        border-color: white;
        color: white;
        padding: 4px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin-top: 8px;
        margin-left: 0px;
    }


/* sets media queries */
      @media screen and (min-width: 760px) {

        .container {
            width: 960px;
            margin: 0 auto;
        }
         
    }
    
    @media screen and (min-width: 1200px) {
    
    .container {
            width: 1168px;
            padding: 0 16px;
            margin: 0 auto;
        }
      
        .working {
            display: flex;
            width: 500px;
            max-width: 500px; 
        }

        .fa{
            
            
        }
            
            
           
        